/*
 * remによるサイズ指定をしやすいように
 * 16px * 0.625 = 10px
 * 文字サイズは基本的に rem or vw で指定していく
 */
html {
  font-size: 62.5%;
}
/*
 * font-familyは流行があるので随時チェック
 * いいサイトがあれば参考に
 * line-heightはサイズをつけずに記述することをお勧めする
 */
body {
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}

header {
  max-width: 960px;
  margin: 0 auto;
}

.hero-img {
  width: 100%;
}

.navi {
  display: flex;
  background-color: #584131;
  color: #fff;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}

.current {
  background-color: #f47402;
}

.list {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.list-item {
  width: calc(100%/4);
}

.sns {
  max-width: 960px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.sns li {
  width: 46px;
  padding-left: 3px;
}

.sns-icon {
  width: 100%;
}

footer {
  background-color: #f47402;
  padding: 70px 0 30px;
  margin-top: 50px;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}